.gradle
/local.properties
/.idea/workspace.xml
.DS_Store
bin
gen
build
obj
target
tmp
reports
armeabi*
x86
dump.txt
seeds.txt
usage.txt
.idea
*.iml
*.log
com_crashlytics_export_strings.xml
crashlytics-build.properties
